<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARMY Management System</title>
    
    

    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <!----------------------------CSS---------------------------->

    <link href="~/content/css/blue.css" rel="stylesheet" />
    <link href="~/content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/content/css/morris.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <link href="~/content/css/spinners.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!----------------------------CSS---------------------------->
    
    
    <!----------------------------JS COMMENTED---------------------------->
    
    @*<script src="~/content/scripts/js/waves.js"></script>*@
    @*<script src="~/content/scripts/js/jquery.sparkline.min.js"></script>*@
    @*<script src="~/content/scripts/js/raphael-min.js"></script>*@
    @*<script src="~/content/scripts/js/jquery.style.switcher.js"></script>*@

    <!----------------------------JS COMMENTED---------------------------->


    <script src="~/content/scripts/js/jquery.min.js"></script>
    <script src="~/content/scripts/js/popper.min.js"></script>
    <script src="~/content/scripts/js/bootstrap.min.js"></script>
    <script src="~/content/scripts/js/jquery.slimscroll.js"></script>
    <script src="~/content/scripts/js/sidebarmenu.js"></script>
    <script src="~/content/scripts/js/sticky-kit.min.js"></script>
    <script src="~/content/scripts/js/custom.min.js"></script>


    
    @*<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>*@

    <script src="~/content/scripts/js/bootstrap-datepicker.min.js"></script>



    <!-- Bootstrap tether Core JavaScript -->

    
    
    <!-- slimscrollbar scrollbar JavaScript -->

    

    <!--Wave Effects -->

    

    <!--Menu sidebar -->

    

    <!--stickey kit -->

    

    <!--Custom JavaScript -->

    

    <!--sparkline JavaScript -->

    
    <!--morris JavaScript -->

    

    @*<script src="~/content/scripts/js/morris.min.js"></script>*@

    <!-- Chart JS -->
    @*<script src="~/content/scripts/js/dashboard1.js"></script>*@

    <!-- Style switcher -->

    


    <script src="~/content/scripts/js/jquery.datatables.min.js"></script>

    

    <!----------------------------JS---------------------------->


</head>
<body>


    @RenderBody()

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>