<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARMY Management System</title>


    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <!----------------------------CSS---------------------------->

    <link href="~/content/css/blue.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/morris.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <link href="~/content/css/spinners.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!----------------------------CSS---------------------------->
    <!----------------------------JS---------------------------->

    <script src="~/content/scripts/js/jquery.min.js"></script>

    <script src="~/content/scripts/js/bootstrap-datepicker.min.js"></script>



    <!-- Bootstrap tether Core JavaScript -->

    <script src="~/content/scripts/js/bootstrap.min.js"></script>
    <script src="~/content/scripts/js/popper.min.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->

    <script src="~/content/scripts/js/jquery.slimscroll.js"></script>

    <!--Wave Effects -->

    <script src="~/content/scripts/js/waves.js"></script>

    <!--Menu sidebar -->

    <script src="~/content/scripts/js/sidebarmenu.js"></script>

    <!--stickey kit -->

    <script src="~/content/scripts/js/sticky-kit.min.js"></script>

    <!--Custom JavaScript -->

    <script src="~/content/scripts/js/custom.min.js"></script>

    <!--sparkline JavaScript -->

    <script src="~/content/scripts/js/jquery.sparkline.min.js"></script>

    <!--morris JavaScript -->

    <script src="~/content/scripts/js/raphael-min.js"></script>

    @*<script src="~/content/scripts/js/morris.min.js"></script>*@

    <!-- Chart JS -->
    @*<script src="~/content/scripts/js/dashboard1.js"></script>*@

    <!-- Style switcher -->

    <script src="~/content/scripts/js/jquery.style.switcher.js"></script>


    <script src="~/content/scripts/js/jquery.datatables.min.js"></script>

    <!----------------------------JS---------------------------->


</head>
<body>


    @RenderBody()

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>