<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themedesigner.in/demo/admin-press/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Oct 2017 13:38:59 GMT -->

<body class="fix-header fix-sidebar card-no-border">
   
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index">
                    <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->

                        <img src="~/images/army_logo.png" class="dark-logo" />
                        <img src="~/images/logo-light-icon.png" alt="homepage" class="light-logo" />

                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                        <!-- dark Logo text -->
                        <img src="~/images/logo-text.png" class="dark-logo" />

                        <!-- Light Logo text -->
                        <img src="~/images/logo-light-text.png" class="light-logo" alt="homepage" />
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Language -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-pk"></i></a>

                    </li>
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->

                </ul>
            </div>
        </nav>
    </header>
   

    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile">
                <!-- User profile image -->
                <div class="profile-img">
                    <img src="~/images/pak_army.jpg" style="height:70px" alt="user" />
                    <!-- this is blinking heartbit-->
                    <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                </div>
                <!-- User profile text-->
                <div class="profile-text">
                    <h5>Iftikhar Ahmed</h5>
                    <h6 style="color:lightblue">Colonel</h6>
                    <a href="~/Admin/Login" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                </div>
            </div>
            <!-- End User profile text-->
            <!-- Sidebar navigation--><!-- Sidebar navigation--><!-- Sidebar navigation--><!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li>
                        <a class="waves-effect waves-dark" href="~/Home/Index" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                    </li>

                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Officers</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="~/Officer/Officer_Form_Data">Add Officer </a></li>
                            <li><a href="~/Officer/List_Officer">List Officer</a></li>
                            <li><a href="~/Officer/Search_Officer">Search Officer</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Admin</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="~/Admin/Admin_Form_Data">Create Admin</a></li>
                            <li><a href="~/Admin/List_Admin">List Admin</a></li>
                        </ul>
                    </li>



                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
   
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item custom_lime_green">Dashboard</li>
                </ol>
            </div>

        </div>

        <div class="container-fluid">
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">

                        <div class="card-body">

                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><i class="fa fa-users text-current_color"></i></h2>
                                                <h3 class="">500</h3>
                                                <h6 class="card-subtitle">Total Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-current_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><i class="fa fa-users text-brown_color"></i></h2>
                                                <h3 class="">50</h3>
                                                <h6 class="card-subtitle">Total Beard Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-brown_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               

                               


                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><i class="fa fa-user text-teal_color"></i></h2>
                                                <h3 class="">100</h3>
                                                <h6 class="card-subtitle">Out of Unit Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-teal_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><i class="fa fa-users text-light_brown_color"></i></h2>
                                                <h3 class="">100</h3>
                                                <h6 class="card-subtitle">Total Admins</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-light_brown_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->

                            </div>





                            <div class="row">
                                <div class="col-md-6 pull-left">
                                    <div class="card">
                                        <div class="card-body bg-custom_List_emp_admin">
                                            <h4 class="text-custom_color card-title">List of Officers on Leave</h4>
                                            <h6 class="card-subtitle text-custom_color m-0 op-5">Officers who are on Leave on Present Day</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="message-box contact-box">
                                                @*<h2 class="add-ct-btn"><a class="text-white btn btn-circle btn-lg btn-success waves-effect waves-dark custom_plus_btn_design" href="~/Officer/Officer_Form_Data">+</a></h2>*@
                                                <div class="contact-widget">
                                                    <!-- Message -->
                                                    <div class="card-body p-l-0">
                                                        <div class="user-img pull-left"> <img src="~/images/pak_army.jpg" alt="user" class="img-circle" style="width:45px;height:45px"></div>
                                                        <div class="mail-contnet col-md-10 pull-left">
                                                            <h5>Hamza Imran</h5> <h6 class="mail-desc unbold">Hon Capt</h6>
                                                            @*<a href="~/Employee/Profile_Employee"><span class="pull-right label label-info">View Profile</span></a>*@
                                                            <a href="~/Admin/Profile_Admin" class="pull-right view_btn_profile_margin change_hover"><span class="label label-brown">View Profile</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <hr />

                                                    <div class="card-body p-l-0">
                                                        <div class="user-img pull-left"> <img src="~/images/pak_army.jpg" alt="user" class="img-circle" style="width:45px;height:45px"></div>
                                                        <div class="mail-contnet col-md-10 pull-left">
                                                            <h5>Hamza Imran</h5> <h6 class="mail-desc unbold">Hon Capt</h6>
                                                            @*<a href="~/Employee/Profile_Employee"><span class="pull-right label label-info">View Profile</span></a>*@
                                                            <a href="#" class="pull-right view_btn_profile_margin change_hover"><span class="label label-brown">View Profile</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <hr />

                                                    <div class="card-body p-l-0">
                                                        <div class="user-img pull-left"> <img src="~/images/pak_army.jpg" alt="user" class="img-circle" style="width:45px;height:45px"></div>
                                                        <div class="mail-contnet col-md-10 pull-left">
                                                            <h5>Hamza Imran</h5> <h6 class="mail-desc unbold">Hon Capt</h6>
                                                            @*<a href="~/Employee/Profile_Employee"><span class="pull-right label label-info">View Profile</span></a>*@
                                                            <a href="#" class="pull-right view_btn_profile_margin change_hover"><span class="label label-brown">View Profile</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <hr />

                                                    <div class="card-body p-l-0">
                                                        <div class="user-img pull-left"> <img src="~/images/pak_army.jpg" alt="user" class="img-circle" style="width:45px;height:45px"></div>
                                                        <div class="mail-contnet col-md-10 pull-left">
                                                            <h5>Hamza Imran</h5> <h6 class="mail-desc unbold">Hon Capt</h6>
                                                            @*<a href="~/Employee/Profile_Employee"><span class="pull-right label label-info">View Profile</span></a>*@
                                                            <a href="#" class="pull-right view_btn_profile_margin change_hover"><span class="label label-brown">View Profile</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <hr />

                                                    <div class="card-body p-l-0">
                                                        <div class="user-img pull-left"> <img src="~/images/2.jpg" alt="user" class="img-circle" style="width:45px;height:45px"></div>
                                                        <div class="mail-contnet col-md-10 pull-left">
                                                            <h5>Hamza Imran</h5> <h6 class="mail-desc unbold">Hon Capt</h6>
                                                            @*<a href="~/Employee/Profile_Employee"><span class="pull-right label label-info">View Profile</span></a>*@
                                                            <a href="#" class="pull-right view_btn_profile_margin change_hover"><span class="label label-brown">View Profile</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <hr />



                                                        <!-- Message -->

                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                
                                
                            </div>
                            <div class="clear"></div>


                            <hr class="hr_height" />


                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">List of Out of Unit Officers </h3>
                                    <h6 class="card-subtitle">Officers who are out of unit for more than 90 Days</h6>
                                    <div class="table-responsive">
                                        <table id="myTable" class="table full-color-table full-brown-table hover-table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Rank</th>
                                                    <th class="text-center">Address</th>
                                                    <th class="text-center">Email</th>
                                                    <th class="text-center">Phone No</th>
                                                    @*<th class="text-center">CNIC</th>*@
                                                    @*<th class="text-center">Type</th>*@
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">Iftikhar Ahmed</td>
                                                    <td class="text-center">Major</td>
                                                    <td class="text-center">Multan</td>
                                                    <td class="text-center">iftikhar@admin.com</td>
                                                    <td class="text-center">0311-1111111</td>
                                                    @*<td class="text-center">@item.CNIC</td>*@







                                                    @*<td class="text-center"><span class="label label-info">Admin</span></td>*@

                                                    <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/"><i class="fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                </tr>



                                            </tbody>
                                        </table>

                                        

                                        @*<table id="myTable" class="table full-color-table full-dark-table">*@
                                        @*<table id="myTable" class="table color-table dark-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                </table>*@

                                    </div>
                                </div>
                                
                            </div>

                            

                           

                        </div>
                    </div>
                </div>
            </div>


        </div>
    
    
    </div>



    <script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    </script>



</body>

</html>