<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themedesigner.in/demo/admin-press/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Oct 2017 13:38:59 GMT -->

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @*<div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>*@
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @*<div id="main-wrapper">*@
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @{
        Html.RenderPartial("Header");
    }
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    @{
        Html.RenderPartial("Side_Navigation");
    }
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item custom_lime_green">Dashboard</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">

                        <div class="card-body">

                            <div class="card-group">
                                
                                
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Officer/List_Officer"><i class="fa fa-users text-current_color"></i></a></h2>
                                                <h3 class="">14</h3>
                                                <h6 class="card-subtitle">Total Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-current_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                             


                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Officer/List_Out_of_Unit_Officers" class="notify setpos point_top_right"><span class="point"></span> <i class="fa fa-users text-brown_color"></i></a></h2>
                                                <h3 class="">8</h3>
                                                <h6 class="card-subtitle">Out of Unit Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-brown_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Officer/List_Beard_Officers"><i class="fa fa-users text-light_brown_color"></i></a></h2>
                                                <h3 class="">6</h3>
                                                <h6 class="card-subtitle">Beard Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-light_brown_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               


                               

                              

                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->

                            </div>




                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Officer/List_On_Leave_Officers"><i class="fa fa-users text-teal_color"></i></a></h2>
                                                <h3 class="">3</h3>
                                                <h6 class="card-subtitle">Officers on Leave</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-teal_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                  

                                
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Officer/List_Red_Entry_Officers"><i class="fa fa-users text-stealblue_color"></i></a></h2>
                                                <h3 class="">1</h3>
                                                <h6 class="card-subtitle">Red Entry Officers</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-stealblue_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="m-b-0"><a href="~/Admin/List_Admin"><i class="fa fa-users text-salmon_color"></i></a></h2>
                                                <h3 class="">7</h3>
                                                <h6 class="card-subtitle">Total Admins</h6>
                                            </div>
                                            <div class="col-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-salmon_color" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                              

                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->
                                <!-- Column -->

                            </div>


                            
                            <div class="clear"></div>


                            <hr class="hr_height m-t-40 m-b-40"/>


                            <div class="card">



                                <div class="card">
                                    <div class="card-body">

                                        <div class="col-md-5 align-self-center p-l-0">
                                            <h3 class="text-themecolor search_officers_styling_index_page">Search Officer:</h3>
                                        </div>

                                        <div class="row p-t-20">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <input type="text" name="no" class="form-control" placeholder="No">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <select class="form-control custom-select">
                                                        <option value="">--Select Rank--</option>
                                                        <option>Hon Capt</option>
                                                        <option>Hon LT</option>
                                                        <option>SM</option>
                                                        <option>Sub</option>
                                                        <option>Nsub</option>
                                                        <option>Hav</option>
                                                        <option>Lhav</option>
                                                        <option>NK</option>
                                                        <option>Lnk</option>
                                                        <option>Sig</option>
                                                        <option>NCsE</option>
                                                        <option>NCB</option>
                                                    </select>
                                                </div>
                                            </div>





                                            <script>
                                                function show_search_filters() {
                                                    //alert("ASDadasd");
                                                    $(".hide_search_filters").show();
                                                    $("#show_advance_search_option_btn").hide();


                                                    $("#hide_advance_search_option_btn").show();

                                                }




                                            </script>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-md-4" id="show_advance_search_option_btn">
                                                <div class="form-group pull-right">
                                                    <a class="advance_search_a_tag m-0 font-12" href="#" onclick="show_search_filters()">Advance Search Options</a>
                                                </div>
                                            </div>

                                        </div>




                                        <div class="hide_search_filters" style="display:none">

                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select">
                                                            <option value="">-- Select Trade --</option>
                                                            <option>Tech Sigs</option>
                                                            <option>Op Sigs</option>
                                                            <option>Dvr Sigs</option>
                                                            <option>W/ Sigs</option>
                                                            <option>Crypto</option>
                                                            <option>Cook Mess</option>
                                                            <option>Cook Unit</option>
                                                            <option>Clk</option>
                                                            <option>SMT</option>
                                                            <option>SW</option>
                                                            <option>Waiter</option>
                                                            <option>NCB</option>
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <input type="text" name="height" id="height" class="form-control" placeholder="Height">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="weight" id="weight" placeholder="Weight">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="complexion" id="complexion" placeholder="Complexion">
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="demography" id="demography" placeholder="Demography">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="date_of_enrl" id="date_of_enrl" placeholder="Enrollment Date">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="date_of_present_rank" id="date_of_present_rank" placeholder="Present Rank Date">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="date_of_sod" id="date_of_sod" placeholder="Date Of SOD">
                                                    </div>
                                                </div>





                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="cnic" id="cnic" placeholder="CNIC">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" name="caste" id="caste" class="form-control" placeholder="Caste">
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <input type="text" name="sect" id="sect" class="form-control" placeholder="Sect">
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select" name="no_of_marriage" id="no_of_marriage">
                                                            <option value="">No. of Marriages</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select" name="blood_group" id="blood_group">
                                                            <option value="">-- Select Blood Group --</option>
                                                            <option value="2">A+</option>
                                                            <option value="1">A-</option>
                                                            <option value="3">B+</option>
                                                            <option value="4">B-</option>
                                                            <option value="4">O+</option>
                                                            <option value="4">O-</option>
                                                            <option value="4">AB+</option>
                                                            <option value="4">AB-</option>



                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <select class="form-control pull-left custom-select" name="red_entry_dropdown" id="red_entry_dropdown">
                                                            <option value="">Select Red Entry</option>
                                                            <option value="1">Yes</option>
                                                            <option value="2">No</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select" name="qualification" id="qualification">
                                                            <option value="">Select  Qualification</option>
                                                            <option value="1">TT-1</option>
                                                            <option value="1">TT-2</option>
                                                            <option value="1">TT-3</option>
                                                            <option value="4">MR-1</option>
                                                            <option value="4">MR-2</option>
                                                            <option value="4">MR-3</option>
                                                            <option value="4">MR Basic Lvl</option>
                                                            <option value="4">MR Adv Lvl</option>
                                                            <option value="4">Civ</option>
                                                        </select>
                                                    </div>
                                                </div>




                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select" name="sport" id="sport">
                                                            <option value="">Select your Sport</option>
                                                            <option value="1">Hockey</option>
                                                            <option value="2">Volleyball</option>
                                                            <option value="3">Football</option>
                                                            <option value="4">Basket Ball</option>
                                                            <option value="4">Wrestling</option>
                                                            <option value="4">Wushu</option>
                                                            <option value="4">Baseball</option>
                                                            <option value="4">Athletic</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control custom-select">
                                                            <option value="">Select Medical Category</option>
                                                            <option>A</option>
                                                            <option>B Temp</option>
                                                            <option>B Perm</option>
                                                            <option>C Temp</option>
                                                            <option>C Perm</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <input type="text" name="village" id="village" class="form-control" placeholder="Village">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <input type="text" name="p_o" id="p_o" class="form-control" placeholder="P/O">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="thana" id="thana" placeholder="Thana">
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <input type="text" name="tehsil" id="tehsil" class="form-control" placeholder="Tehsil">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <input type="text" name="distt" id="distt" class="form-control" placeholder="Distt">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <select class="form-control custom-select" name="acr_year" id="acr_year">
                                                            <option value="">--ACR Year --</option>
                                                            <option value="1">2012</option>
                                                            <option value="2">2013</option>
                                                            <option value="1">2014</option>
                                                            <option value="2">2015</option>
                                                            <option value="1">2016</option>
                                                            <option value="2">2017</option>
                                                            <option value="2">2018</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group ">
                                                        <select class="form-control custom-select" name="scale" id="scale">
                                                            <option value="">-- ACR Grade --</option>
                                                            <option value="1">OS</option>
                                                            <option value="2">WAA</option>
                                                            <option value="1">AA</option>
                                                            <option value="2">HA</option>
                                                            <option value="1">BA</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>



                                        </div>


                                        <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-md-4" style="display:none" id="hide_advance_search_option_btn">
                                                <div class="form-group pull-right">
                                                    <a class="advance_search_a_tag m-0 font-12" href="#" onclick="hide_search_filters()">Hide Advance Search Options</a>
                                                </div>
                                            </div>

                                        </div>

                                        <script>
                                            function hide_search_filters() {
                                                //alert("ASDadasd");
                                                $(".hide_search_filters").hide();
                                                $("#show_advance_search_option_btn").show();


                                                $("#hide_advance_search_option_btn").hide();
                                            }

                                        </script>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-10"></div>
                                                        <div class="col-md-2 pull-right">
                                                            <button type="submit" class="btn btn-themecolor" onclick="show_officer_table()"> <i class="fa fa-check"></i> Search</button>
                                                        </div>
                                                        @*<div class="col-md-4"></div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <hr class="hr_height p-b-40" />

                                        <div class="hide_table_officer" style="display:none">


                                            <h3 class="card-title">OFFICER LIST</h3>
                                            @*<h6 class="card-subtitle">Data table example</h6>*@
                                            <div class="table-responsive m-t-10">
                                                <table id="aa" class="table full-color-table full-warning-table hover-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Name</th>
                                                            <th class="text-center">Rank</th>
                                                            <th class="text-center">Address</th>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center">Phone No</th>
                                                            @*<th class="text-center">CNIC</th>*@
                                                            <th class="text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center">Iftikhar Ahmed</td>
                                                            <td class="text-center">Hon LT</td>
                                                            <td class="text-center">Multan</td>
                                                            <td class="text-center">PJO-3665960</td>
                                                            <td class="text-center">0300-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class="fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Hamza Imran</td>
                                                            <td class="text-center">Hon Capt</td>
                                                            <td class="text-center">Multan</td>
                                                            <td class="text-center">PJO-57848324</td>
                                                            <td class="text-center">0301-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Junaid Khan</td>
                                                            <td class="text-center">SM</td>
                                                            <td class="text-center">Lahore</td>
                                                            <td class="text-center">PJO-7636828</td>
                                                            <td class="text-center">0302-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Waqar Hussian</td>
                                                            <td class="text-center">Lhav</td>
                                                            <td class="text-center">Lahore</td>
                                                            <td class="text-center">PJO-7368392</td>
                                                            <td class="text-center">0303-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Yasir Shokat</td>
                                                            <td class="text-center">NCB</td>
                                                            <td class="text-center">Muzafer Ghar</td>
                                                            <td class="text-center">PJO-93744745</td>
                                                            <td class="text-center">0304-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Muzammil Haneef</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">Lahore</td>
                                                            <td class="text-center">PJO-6753475</td>
                                                            <td class="text-center">0305-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Zeeshan Safder</td>
                                                            <td class="text-center">Sig</td>
                                                            <td class="text-center">Faisalabad</td>
                                                            <td class="text-center">PJO-87643685</td>
                                                            <td class="text-center">0306-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Kamran Haneef</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">Multan</td>
                                                            <td class="text-center">PJO-6576528</td>
                                                            <td class="text-center">0308-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Shoaib Shokat</td>
                                                            <td class="text-center">NCB</td>
                                                            <td class="text-center">Muzafer Ghar</td>
                                                            <td class="text-center">PJO-8474763</td>
                                                            <td class="text-center">0309-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Shokat Yasir</td>
                                                            <td class="text-center">Sig</td>
                                                            <td class="text-center">Muzafer Ghar</td>
                                                            <td class="text-center">PJO-0643704</td>
                                                            <td class="text-center">0310-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Kashif Latif</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">karachi</td>
                                                            <td class="text-center">PJO-9965638</td>
                                                            <td class="text-center">03011-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Latif Khan</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">Lahore</td>
                                                            <td class="text-center">PJO-6784775</td>
                                                            <td class="text-center">03011-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Irfan Haneef</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">Multan</td>
                                                            <td class="text-center">PJO-7883645</td>
                                                            <td class="text-center">03011-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class=" fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>

                                                        <tr>
                                                            <td class="text-center">Saif Khan</td>
                                                            <td class="text-center">NCsE</td>
                                                            <td class="text-center">Multan</td>
                                                            <td class="text-center">PJO-9578393</td>
                                                            <td class="text-center">03011-1111111</td>
                                                            <td class="text-center" style="width: 50px;"><a href="~/Admin/Profile_Admin/" class="eye_hover"><i class="fa fa-eye" aria-hidden="true"></i></a><a class="m-l-10 eye_hover" href="~/Officer/Edit_Officer/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><a class="m-l-10" href="#"><i class="fa fa-trash-o red_color" aria-hidden="true"></i></a></td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                                @*<table id="myTable" class="table full-color-table full-dark-table">*@
                                                @*<table id="myTable" class="table color-table dark-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                        </table>*@

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                
                            </div>

                            

                           

                        </div>
                    </div>
                </div>

               
            </div>
            <!-- Row -->
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    $(document).ready(function () {
        $('#aa').DataTable();
    });

    </script>

    <script>
    function show_officer_table() {
        $(".hide_table_officer").show();
    }


    jQuery('#date_of_present_rank').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date_of_sod').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    jQuery('#date_of_enrl').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    </script>


</body>

</html>